p{
  margin: 0;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0
}

.btnWithOrange{
  border: 0px solid transparent;
  background-color:$bg-secondary ;
  font-size: 1.2rem;
  padding: 1.5% 8%;
  border-radius: 10px;
  margin: 5% 2%;
  cursor: pointer;
  &:hover{
    background-color: #fe8769;
  }

}
.input{
  border:2px $bg-lightGrey solid;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  &:focus{
    border:2px solid $darkGrey;
  }
  &:active{
    border:2px solid $darkGrey;
  }
}
.btnActive{
  background-color:$bg-primary-blue ;
}